
.icon-truck:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-login:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-cog-circled:before { content: '\e806'; } /* '' */
.icon-github:before { content: '\e807'; } /* '' */
.icon-right-small:before { content: '\e808'; } /* '' */
.icon-link-1:before { content: '\e809'; } /* '' */
.icon-mail-2:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */
.icon-left-small:before { content: '\e80c'; } /* '' */
.icon-leaf:before { content: '\e80d'; } /* '' */
.icon-gift:before { content: '\e80e'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */
.icon-article-alt:before { content: '\e811'; } /* '' */
.icon-appnet:before { content: '\e812'; } /* '' */
.icon-archive:before { content: '\e813'; } /* '' */
.icon-home:before { content: '\e814'; } /* '' */
.icon-grocery-store:before { content: '\e81e'; } /* '' */
.icon-shop:before { content: '\e835'; } /* '' */
.icon-soundcloud-circled:before { content: '\f08a'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-facebook-1:before { content: '\f300'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
